.card-piece {
  width: 100%;
  height: 100%;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;  
  h1 {
    margin: 0;
  }
}

.card-wrapper {	
	transition: transform 200ms ease-in;
	transform-style: preserve-3d;	
}

.rotate {
	transform: rotateY(180deg);		
}

.card-front, .card-back {
  position: absolute;
  backface-visibility: hidden;
  overflow: hidden;
}

.card-back {  
  z-index: 1;
  background: cyan;
}

.card-front {
  transform: rotateY(180deg);
}
