.puzzle-grid {
  display: grid;  
  padding-top: 10px;
  padding-left: 10px;  
  &__slot {
    background: white;
    width: 100%;
    height: 100%;  
  }
}

.puzzle-wrapper {
  position: relative;
}

.timer-pos {
  position: absolute;
  top: 0;
  left: -50%;
}