.code-area {
  display: flex;  
  width: 20vw;
  min-width: 300px;
  height: 100vh;
  background: #e3e3e3;
  margin-left: auto;
  flex-flow: column wrap;  
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}