.display-area {
  display: flex;
  flex: 1;
  height: 100vh;
  background: white;
  flex-flow: column wrap;  
  align-items: center;
  justify-content: flex-start;
}

@media screen and (max-width: 768px) {
  .display-area {
    width: 100vw;
  }
}
