.setting-area {
  display: flex;
  width: 20vw;
  min-width: 300px;
  height: 100vh;
  background: #e3e3e3;
  flex-flow: column wrap;  
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
}

.setting-wrapper {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .setting-area {
    width: 100vw;
  }
}